<a href="/contacts/new" id="new-contact-link">Create a new Contact</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
    <%= erb :_contact_table_row, :layout => false, :locals => {:contact => contact} %>
    <% end %>
  </tbody>
</table>