<a href="/">Go back to contacts listing</a>
<p>
  <b>First Name</b>: <%= @contact.first_name %>
</p>
<p>
  <b>Last Name</b>: <%= @contact.last_name %>
</p>
<p>
  <b>Phone</b>: <%= @contact.phone %>
</p>
<p>
  <b>Email</b>: <%= @contact.email %>
</p>
